
:root {
    --color-sp-color-surface-opacity-subtle: #ffffff40; 
    --color-sp-color-surface-opacity-hover: #ffffff1a; 
    --color-al-color-magenta-50: #fae6ef; 
    --color-al-color-magenta-100: #efb0cd; 
    --color-al-color-magenta-200: #e78ab4; 
    --color-al-color-magenta-300: #db5492; 
    --color-al-color-magenta-400: #d5337d; 
    --color-al-color-magenta-500: #ca005d; 
    --color-al-color-magenta-600: #b80055; 
    --color-al-color-magenta-700: #8f0042; 
    --color-al-color-magenta-800: #6f0033; 
    --color-al-color-magenta-900: #550027; 
    --color-al-color-gold-50: #fff6e6; 
    --color-al-color-gold-100: #ffe2b0; 
    --color-al-color-gold-200: #ffd48a; 
    --color-al-color-gold-300: #ffc054; 
    --color-al-color-gold-400: #ffb433; 
    --color-al-color-gold-500: #ffa100; 
    --color-al-color-gold-600: #e89300; 
    --color-al-color-gold-700: #b57200; 
    --color-al-color-gold-800: #8c5900; 
    --color-al-color-gold-900: #6b4400; 
    --color-al-color-neutral-50: #f5f6f8; 
    --color-al-color-neutral-100: #dfe2e8; 
    --color-al-color-neutral-200: #cfd5dd; 
    --color-al-color-neutral-300: #b9c1ce; 
    --color-al-color-neutral-400: #acb5c5; 
    --color-al-color-neutral-500: #97a3b6; 
    --color-al-color-neutral-600: #8994a6; 
    --color-al-color-neutral-700: #6b7481; 
    --color-al-color-neutral-800: #535a64; 
    --color-al-color-neutral-900: #3f444c; 
    --color-al-color-green-50: #e6f3ea; 
    --color-al-color-green-100: #b0d9bc; 
    --color-al-color-green-200: #8ac69c; 
    --color-al-color-green-300: #54ad6f; 
    --color-al-color-green-400: #339d53; 
    --color-al-color-green-500: #008428; 
    --color-al-color-green-600: #007824; 
    --color-al-color-green-700: #005e1c; 
    --color-al-color-green-800: #004916; 
    --color-al-color-green-900: #003711; 
    --color-al-color-blue-50: #e6f3fa; 
    --color-al-color-blue-100: #b0daef; 
    --color-al-color-blue-200: #8ac8e7; 
    --color-al-color-blue-300: #55afdc; 
    --color-al-color-blue-400: #349fd5; 
    --color-al-color-blue-500: #0187cb; 
    --color-al-color-blue-600: #017bb9; 
    --color-al-color-blue-700: #016090; 
    --color-al-color-blue-800: #014a70; 
    --color-al-color-blue-900: #003955; 
    --color-al-color-orange-50: #fff0e6; 
    --color-al-color-orange-100: #ffd1b0; 
    --color-al-color-orange-200: #ffba8a; 
    --color-al-color-orange-300: #ff9b54; 
    --color-al-color-orange-400: #ff8733; 
    --color-al-color-orange-500: #ff6900; 
    --color-al-color-orange-600: #e86000; 
    --color-al-color-orange-700: #b54b00; 
    --color-al-color-orange-800: #8c3a00; 
    --color-al-color-orange-900: #6b2c00; 
    --color-al-color-red-50: #fce9e9; 
    --color-al-color-red-100: #f7bbbb; 
    --color-al-color-red-200: #f39b9b; 
    --color-al-color-red-300: #ed6d6d; 
    --color-al-color-red-400: #e95151; 
    --color-al-color-red-500: #e42525; 
    --color-al-color-red-600: #cf2222; 
    --color-al-color-red-700: #a21a1a; 
    --color-al-color-red-800: #7d1414; 
    --color-al-color-red-900: #601010; 
    --color-al-color-black-0: #ffffff; 
    --color-al-color-black-100: #f3f3f6; 
    --color-al-color-black-200: #dce0e5; 
    --color-al-color-black-300: #7e8287; 
    --color-al-color-black-400: #656970; 
    --color-al-color-black-500: #3f444c; 
    --color-al-color-black-600: #393e45; 
    --color-al-color-black-700: #2d3036; 
    --color-al-color-black-800: #23252a; 
    --color-al-color-black-900: #1a1d20; 
    --color-sp-color-background-subtle: #f5f6f8; 
    --color-sp-color-background-lightest: #ffffff; 
    --color-sp-color-text-extreme: #1a1d20; 
    --color-sp-color-text-strong: #535a64; 
    --color-sp-color-text-medium: #7e8287; 
    --color-sp-color-text-subtle: #97a3b6; 
    --color-sp-color-text-lightest: #ffffff; 
    --color-sp-color-text-disable: #656970; 
    --color-sp-color-text-disable-inverse: #3f444c; 
    --color-sp-color-text-accent: #e89300; 
    --color-sp-color-surface-feedback-critical-strong: #e42525; 
    --color-sp-color-surface-feedback-critical-subtle: #fce9e9; 
    --color-sp-color-surface-feedback-warning-strong: #ff6900; 
    --color-sp-color-surface-feedback-warning-subtle: #fff0e6; 
    --color-sp-color-surface-feedback-success-strong: #008428; 
    --color-sp-color-surface-feedback-success-subtle: #e6f3ea; 
    --color-sp-color-surface-feedback-informative-strong: #0187cb; 
    --color-sp-color-surface-feedback-informative-subtle: #e6f3fa; 
    --color-sp-color-surface-brand-extreme: #8f0042; 
    --color-sp-color-surface-brand-strong: #b80055; 
    --color-sp-color-surface-brand-medium: #ca005d; 
    --color-sp-color-surface-brand-subtle: #fae6ef; 
    --color-sp-color-text-feedback-success: #007824; 
    --color-sp-color-surface-accent-strong: #e89300; 
    --color-sp-color-surface-subtle: #f3f3f6; 
    --color-sp-color-surface-lightest: #ffffff; 
    --color-sp-color-surface-disable: #f3f3f6; 
    --color-sp-color-surface-disable-inverse: #dce0e5; 
    --color-sp-color-border-focus: #ffa100; 
    --color-sp-color-border-brand-strong: #8f0042; 
    --color-sp-color-border-extreme: #535a64; 
    --color-sp-color-border-strong: #97a3b6; 
    --color-sp-color-border-disable: #b9c1ce; 
    --color-sp-color-border-subtle: #f3f3f6; 
    --color-sp-color-border-light: #f5f6f8; 
    --color-sp-color-border-brand-medium: #ca005d; 
    --color-sp-color-text-feedback-warning: #b54b00; 
    --color-sp-color-text-feedback-critical: #cf2222; 
    --color-sp-color-text-brand-extreme: #8f0042; 
    --color-sp-color-text-brand-strong: #b80055; 
    --color-sp-color-text-brand-medium: #ca005d; 
    --color-sp-color-border-feedback-success: #008428; 
    --color-sp-color-border-feedback-critical: #e42525; 
    --color-sp-color-icon-darkest: #1a1d20; 
    --color-sp-color-icon-extreme: #23252a; 
    --color-sp-color-icon-strong: #535a64; 
    --color-sp-color-icon-disable-inverse: #3f444c; 
    --color-sp-color-icon-disable: #656970; 
    --color-sp-color-icon-medium: #7e8287; 
    --color-sp-color-icon-lightest: #ffffff; 
    --color-sp-color-icon-brand-extreme: #8f0042; 
    --color-sp-color-icon-accent-medium: #ffa100; 
    --color-sp-color-icon-subtle: #97a3b6; 
    --color-sp-color-icon-brand-strong: #b80055; 
    --color-sp-color-icon-feedback-success: #007824; 
    --color-sp-color-icon-accent-strong: #e89300; 
    --color-sp-color-icon-brand-subtle: #efb0cd; 
    --color-sp-color-icon-feedback-warning: #b54b00; 
    --color-sp-color-icon-feedback-critical: #cf2222; 
}