
:root {
    --measure-dimension-al-size-icon-sm: 12px;     
    --measure-dimension-al-size-icon-md: 16px;     
    --measure-dimension-al-size-icon-lg: 20px;     
    --measure-dimension-al-size-icon-xl: 24px;     
    --measure-dimension-al-size-icon-2xl: 32px;     
    --measure-dimension-al-size-icon-3xl: 40px;     
    --measure-dimension-al-space-sm: 2px;     
    --measure-dimension-al-space-md: 4px;     
    --measure-dimension-al-space-lg: 8px;     
    --measure-dimension-al-space-xl: 12px;     
    --measure-dimension-al-space-2xl: 16px;     
    --measure-dimension-al-space-3xl: 24px;     
    --measure-dimension-al-space-4xl: 32px;     
    --measure-dimension-al-space-5xl: 40px;     
    --measure-dimension-al-space-6xl: 48px;     
    --measure-dimension-al-space-7xl: 56px;     
    --measure-dimension-al-space-8xl: 64px;     
    --measure-dimension-al-border-radius-square: 0px;     
    --measure-dimension-al-border-radius-sm: 4px;     
    --measure-dimension-al-border-radius-md: 8px;     
    --measure-dimension-al-border-radius-lg: 16px;     
    --measure-dimension-al-border-radius-xl: 24px;     
    --measure-dimension-al-border-radius-pill: 56px;     
    --measure-dimension-al-border-radius-circle: 500px;     
    --measure-dimension-al-border-width-none: 0px;     
    --measure-dimension-al-border-width-thin: 1px;     
    --measure-dimension-al-border-width-regular: 2px;     
    --measure-dimension-al-border-width-thick: 3px;     
    --measure-dimension-al-font-size-sm: 10px;     
    --measure-dimension-al-font-size-md: 12px;     
    --measure-dimension-al-font-size-lg: 14px;     
    --measure-dimension-al-font-size-xl: 16px;     
    --measure-dimension-al-font-size-2xl: 18px;     
    --measure-dimension-al-font-size-3xl: 20px;     
    --measure-dimension-al-font-size-4xl: 24px;     
    --measure-dimension-al-font-size-5xl: 28px;     
    --measure-dimension-al-font-size-6xl: 32px;     
    --measure-dimension-al-font-size-7xl: 40px;     
    --measure-dimension-al-font-size-8xl: 48px;     
    --measure-dimension-al-font-size-display: 56px;     
    --measure-dimension-al-font-size-giant: 72px;     
    --measure-dimension-al-font-weight-light: 300px;     
    --measure-dimension-al-font-weight-regular: 500px;     
    --measure-dimension-al-font-weight-bold: 800px;     
    --measure-dimension-al-font-line-height-base: 100px;     
    --measure-dimension-al-font-line-height-short: 125px;     
    --measure-dimension-al-font-line-height-half: 150px;     
    --measure-dimension-al-font-line-height-long: 200px;     
    --measure-dimension-al-font-letter-spacing-base: 0px;     
    --measure-dimension-al-font-letter-spacing-short: 0.5px;     
    --measure-dimension-al-font-letter-spacing-half: 0.75px;     
    --measure-dimension-al-font-letter-spacing-long: 1px;     
}